@charset "utf-8";
body{
    width: 980px;
	color: #FFF;
	margin:0 auto;
	font-family: sans-serif, "微軟正黑體";
}

#header{
	background-color: #425660;
	padding: 5px;
}

#nav{
	background-color: #20292F;
	padding: 5px;
}

#aside{
	background-color: #63808F;
	padding:20px 10px;
	width: 240px;
	height: 600px;
	text-align: center;
	float: left;
}

#section{
	background-color: #849DAA;
	padding: 20px;
	width: 680px;
	height: 600px;
	text-align: center;
	float: right;
}

#centerBlock{
	background-color: #748796;
	padding: 20px;
	width: 940px;
	height: 600px;
	text-align: center;
	float: right;
}


#footer{
	padding:20px;
	background-color: #425660;
	clear: both;
}

a{
	font-size: 20px;
	line-height: 30px;
	color: #ffffff;
	text-decoration: none;		
}
p{
	font-size: 26px;
	line-height: 26px;
	color: #ffffff;		
}

table{
	border:3px #cccccc solid;
	padding: 3px;
}

h1{	
	font-size: 18px;	
	line-height: 20px;
	color: #bbbba0;
	text-align: center;
}
table{
	
	text-align:left;
}

h2{
	
}

h3{
	
}

h4{
	
}